* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul {
    display: flex;

}

.logo {
    margin-left: 20px;
}

nav ul li {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px 12px 12px 8px;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: black;
}